// Tailwind immports
@tailwind base;
@tailwind components;
@tailwind utilities;

// Theme variables
@import './components.scss';
@import './fonts.scss';
@import './variables.scss';

html,
body {
  font-family: var(--body);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* No scroll */
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

/* Selection */
::selection {
  background-color: var(--accent-dark);
  color: var(--paper-dark);
}

/* Font styles */
.roar {
  font-family: var(--headline);
  font-size: var(--font-size-4xl);
  line-height: 0.9em;
}
.hollar {
  font-family: var(--headline);
  font-size: var(--font-size-3xl);
  line-height: 1em;
}
.scream {
  font-family: var(--title);
  font-size: var(--font-size-2xl);
  line-height: 1em;
  text-transform: uppercase;
}

.shout {
  font-family: var(--title);
  font-size: var(--font-size-xl);
  font-weight: 700;
  line-height: 1em;
}

.yell {
  font-family: var(--body);
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: 1em;
}

.talk {
  font-family: var(--body);
  font-size: var(--font-size-md);
  font-weight: 400;
  line-height: 1.5em;
}

.chat {
  font-family: var(--body);
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 1.5em;
}

.whisper {
  font-family: var(--body);
  font-size: var(--font-size-xs);
  font-weight: 200;
  line-height: 1.5em;
  font-style: italic;
}

// Button text
.button-text {
  font-family: var(--body);
  line-height: 1em;
  text-transform: uppercase;
}

// Label text
.label-text {
  font-family: var(--title);
  font-size: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* Border color classes */
.border-primary-dark {
  border-color: var(--primary-dark);
}
.border-primary {
  border-color: var(--primary);
}
.border-primary-light {
  border-color: var(--primary-light);
}
.border-secondary-dark {
  border-color: var(--secondary-dark);
}
.border-secondary {
  border-color: var(--secondary);
}
.border-secondary-light {
  border-color: var(--secondary-light);
}
.border-tertiary-dark {
  border-color: var(--tertiary-dark);
}
.border-tertiary {
  border-color: var(--tertiary);
}
.border-tertiary-light {
  border-color: var(--tertiary-light);
}
.border-accent-dark {
  border-color: var(--accent-dark);
}
.border-accent {
  border-color: var(--accent);
}
.border-accent-light {
  border-color: var(--accent-light);
}
.border-ink-dark {
  border-color: var(--ink-dark);
}
.border-ink {
  border-color: var(--ink);
}
.border-ink-light {
  border-color: var(--ink-light);
}
.border-paper-dark {
  border-color: var(--paper-dark);
}
.border-paper {
  border-color: var(--paper);
}
.border-paper-light {
  border-color: var(--paper-light);
}

// Border radius classes
.rounded-border-lg {
  border-radius: 24px;
}
.rounded-border-top-lg {
  border-radius: 24px 24px 0 0;
}
.rounded-border-left-lg {
  border-radius: 24px 0 0 24px;
}
.rounded-border-bottom-lg {
  border-radius: 0 0 24px 24px;
}
.rounded-border-right-lg {
  border-radius: 0 24px 24px 0;
}
.rounded-border-sm {
  border-radius: 16px;
}
.rounded-border-top-sm {
  border-radius: 16px 16px 0 0;
}
.rounded-border-left-sm {
  border-radius: 16px 0 0 16px;
}
.rouned-border-bottom-sm {
  border-radius: 0 0 16px 16px;
}
.rounded-border-right-sm {
  border-radius: 0 16px 16px 0;
}

/* Code */
code {
  font-size: 16px !important;
  font-family: 'Courier New', Courier, monospace;
  background-color: #232323;
  color: lightgreen;
  padding: 4px 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
