:root {
  // Fonts
  --headline: 'MYROGE', serif;
  --title: 'Greycliff CF', sans-serif;
  --subtitle: 'Greycliff CF', serif;
  --body: 'Greycliff CF', serif;
  --caption: 'Greycliff CF', serif;

  // Typography
  --font-size-xxs: clamp(0.75em, 0.5vw, 0.75em);
  --font-size-xs: clamp(0.85em, 0.7vw, 0.9em);
  --font-size-sm: clamp(1em, 1vw, 1.1em);
  --font-size-md: clamp(1.125em, 1.5vw, 1.25em);
  --font-size-lg: clamp(1.5em, 3vw, 2em);
  --font-size-xl: clamp(1.75em, 4vw, 2.5em);
  --font-size-2xl: clamp(2em, 5vw, 3em);
  --font-size-3xl: clamp(2.5em, 7vw, 4em);
  --font-size-4xl: clamp(3.5em, 9vw, 8em);

  // Colors
  --primary-dark: #636f65;
  --primary: #95978a;
  --primary-light: #b3b8a2;
  --secondary-dark: #24303c;
  --secondary: #3c5057;
  --secondary-light: #91a3a7;
  --tertiary-dark: #905336;
  --tertiary: #c8a68d;
  --tertiary-light: #e3d1bf;
  --accent-dark: #a97237;
  --accent: #b48b5f;
  --accent-light: #d2b589;
  --ink-dark: #1b1c21;
  --ink: #474340;
  --ink-light: #979694;
  --paper-dark: #ab9e96;
  --paper: #e3d0bf;
  --paper-light: #ffffff;
}
